.wrapper, .wrapper3, .wrapper4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1200px;
    margin-left: 350px;
}
.postcard{
    display:inline-block;
    width: 300px;
    height: 300px;
    padding: 10px;
    
    
}
.second-section{
    background-color: gainsboro;
}
.Header{
    display: flex;
    justify-content: space-between;
    width: 1850px;
    border-bottom: 2px white solid ;
    background-color:whitesmoke;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li {
    display: block;
    padding: 8px;
    justify-content: space-between;
    width: 140px;
  }
 .buttons{
    display: flex;
   
    justify-content: space-between;
    text-decoration: none;
  color: white;
    
    

    


 }
 .gilaki2{
  border: 10px solid rgb(207, 0, 104);
  font-size: 25px;
  border-radius: 8px;
  background-color: rgb(207, 0, 104);
  text-decoration: none;
  color: rgb(255, 0, 0);
  margin-left: 250px;
}
.gilaki1{
  border:none ;
  font-size: 25px;
  
  text-decoration: none;
  color: white;
  margin-left: 200px;

}
 
 
 .button3{
  border: 10px solid rgb(207, 0, 104);
  font-size: 30px;
  border-radius: 8px;
  background-color: rgb(207, 0, 104);
  text-decoration: none;
  color: white;
  margin-left: 800px;
}
 .first-pic{
  margin-left: 500px;
 }
 .first-link{
  border: 10px solid rgb(207, 0, 104);
  font-size: 30px;
  border-radius: 8px;
  background-color: rgb(207, 0, 104);
  text-decoration: none;
  color: white;
  
 }
 .first-header{
  text-align: center;
 }
 h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 70px;
 }
 .second-header{
  text-align: center;
  font-size: 30px;
  padding: 40px;
}
.first-section1 {
  column-count: 3;
  font-size: 25px;
  column-gap: 400px;
}
.inside-first {
  background-color: whitesmoke;
  width: auto;
}
.heading4 {
  text-align: center;
  font-size: 39px;
  padding: 40px;
}
.wrapper2{
 column-count: 2;
 column-gap: 10px;
}
.photo-section3{
  margin-left: 300px;
}
.heading6{
  font-size: 40px;
}
.paragraph2{
  font-size: 25px;
}
.section3-heading{
 font-size: 40px;
 text-align: center;
}
.almost-slider{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.section4-heading{
  text-align: ;
}

