.features{
    display: inline-block;
    background-color: lightgrey;
    color: white;
}

.pricing{
    display: inline-block;
    background-color: lightgrey;
    color: white;
}

.blog{
    display: inline-block;
    background-color: lightgrey;
    color: white;
}

.about-us{
    display: inline-block;
    background-color: lightgrey;
    color: white;
}

.faqs{
    display: inline-block;
    background-color: lightgrey;
    color: white;
}