.h1 {
  margin: 1000px;
  border: 10px solid red;
  font-size: 90px;
  background-color: blue;
  color: black;
  border-radius: 10px;
}



.second-section{
  column-count:3;
  font-size: 25px;
  column-gap: 100px;
}

.ul{
  border: 4px solid crimson;
  
}
li{
  list-style-type: none;
  text-shadow: 2px 2px lightgray;
}