$myColor: #2f2643;

//tags

a{

    text-decoration: none;
    background-color: none;

}

//navigation

header , nav ,.left-navbar , .right-navbar {

    display: flex;
    align-items: center;
    
}

header{
    width: 100%;
    justify-content: center;
    position: fixed;
    z-index: 1;
   
}

nav{
    width: 80%;
    height: 80px;
    justify-content: center;
    margin-left: 130px ;
}

.li-menu , .right-navbar-text{


    font: large bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: $myColor;
    opacity: 0.8;
    background-color: white;

}



//navigation - end


//classes

//navigation left side

.left-navbar{

    width: 50%;
    height: 100%;
    justify-content: space-around;
    text-decoration: none;
    flex-wrap: wrap;
    margin-top: 30px;
}

.li-menu{

    margin-top: 5px;

    &:hover{

        font: large bolder  ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: $myColor;
        opacity:1;

        transition: 200ms;

    }

}

//navigation left side - end

//navigation right side

.right-navbar{

    width: 30%;
    height: 100%;
    justify-content: right;
    align-self: flex-end;
    margin-top: 30px;
}

.right-navbar-text{

    margin-right: 20px;

}

.right-navbar-button{

    display: flex;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: #ff707a;
    border-radius: 5px;


    &:hover{

        color: $myColor;

    }

}

//navigation right side - end


//responsive

.toggler-img{

    margin-left: -130px;
}