@media only screen and (max-width: 600px){
.navigation-list, .first-links{
    display: none;
}
.section1{
    margin-left: -20%;
    flex-direction: column;
}
.page2-section1-img{
    width: 296px;
    height: 252.95px;
    margin-left: 25%;
}
.page2-section2-img{
    width: 356px;
    height: 290px;
    margin-left: -18%;
}
.section2, .section3{
    flex-direction: column;
}
.page2-section3-div{
    margin-left: -10%;
}
.page2-section4-img{
    height: 252.94544982910156px;
    width: 296px;
    margin-left: -11%;
    
    
}
.section4{
    flex-direction: column;
}
.section5{
    flex-direction: column;
    width: 390px;
    margin-left: -30%;
}
}
